<%- include('header', {title: 'Μαθήματα'}) %>

<% if (courses.length) { %>
    <table class="table">
        <thead>
            <th>Όνομα</th>
            <th>Διδάσκων</th>
            <th>Αίθουσα</th>
            <th>Εξάμηνο</th>
            <th>Ακαδημαϊκό Έτος</th>
            <th>Παρουσιολόγια</th>
            <th></th>
        </thead>
        <tbody>
            <% courses.forEach(course => { %>
                <tr>
                    <td><%= course.name %></td>
                    <td><%= course.professor_name %> (<%= course.professor_ldap_id %>)</td>
                    <td><%= course.room_name %></td>
                    <td><%= course.semester %>ο</td>
                    <td><%= course.year_season %></td>
                    <td>
                        <a class="btn btn-primary" href="/attendance_registries?cid=<%= course.id %>">ΠΡΟΒΟΛΗ</a>
                    </td>
                    <td>
                        <div class="action_btn delete_btn ii__delete_course_btn"
                            data-cid="<%= course.id %>" data-course_name="<%= course.name %>">
                            <i class="fa-solid fa-xmark"></i>
                        </div>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
<% } %>

<% if (rooms.length) { %>
    <form method="POST" class="form">
        <table class="table">
            <thead>
                <th>Όνομα</th>
                <th>Διδάσκων (LDAP ID)</th>
                <th>Αίθουσα</th>
                <th>Εξάμηνο</th>
                <th>Ακαδημαϊκό Έτος</th>
                <th></th>
            </thead>

            <tbody>
                <tr>
                    <td><input type="text" name="course_name" class="form-control" required></td>
                    <td><input type="text" name="professor_ldap_id" class="form-control" required></td>
                    <td>
                        <select name="room_id" class="form-control" required>
                            <% rooms.forEach(room => { %>
                                <option value="<%= room.id %>"><%= room.name %></option>
                            <% }) %>
                        </select>
                    </td>
                    <td><input type="text" name="semester" class="form-control" required></td>
                    <td><input type="text" name="year_season" class="form-control" required></td>
                    <td><input type="submit" class="btn btn-primary form-control" value="ΝΕΟ ΜΑΘΗΜΑ"></td>
                </tr>
            </tbody>
        </table>
    </form>

    <hr class="w-50">
    <div class ="d-flex flex-column align-items-end">
        <h5>Ενημέρωση μαθημάτων</h5>
        <form class="w-25" action="/upload_courses" method="POST" enctype="multipart/form-data">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="courses" name="courses">
                <label class="custom-file-label" for="courses">Αρχείο .xlsx</label>
            </div>
            <small>Προσοχή! Το ανέβασμα νέου αρχείου θα διαγράψει όλα τα αποθηκευμένα μαθήματα και τις αντίστοιχες παρουσίες αν επιλέξετε το παρακάτω πεδίο!</small>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="delete_past" id="delete_past">
                <label class="form-check-label" for="delete_past">
                    Διαγραφή προηγούμενων εγγραφών
                </label>
              </div>
            <input type="submit" class="btn btn-primary mt-2 upload_file_btn" value="ΑΠΟΣΤΟΛΗ">
        </form>
    </div>

<% } else { %>
    <span>Πρέπει να δημιουργηθεί τουλάχιστον μία αίθουσα για να γίνει εισαγωγή μαθημάτων</span>
<% } %>

<%- include('footer') %>
