<%- include('header', {title: 'Αίθουσα', full_width: true}) %>

<div class="form-group">
    <label for="room_name">Όνομα Αίθουσας</label>
    <input class="form-control" type="text" id="room_name" value="<%= room_name %>">
</div>

<h4 class="text-center">Διάταξη</h4>

<div class="mt-4" id="room" data-rows_count="<%= room_layout.length %>">
    <div class="mb-5 text-center">
        <small id="rows_count">Αριθμός Σειρών: <%= room_layout.length %></small>
    </div>
    <% room_layout.forEach((seatsCount, ix) => {
        if (seatsCount > 0) { %>
            <div class="room_row_container ii__room_row_container" data-seats_count="<%= seatsCount %>">
                <div class="room_row ii__room_row">
                    <% if (ix > 0) { %>
                        <div class="action_btn delete_btn delete_btn__row ii__delete_row_btn">
                            <i class="fa-solid fa-xmark"></i>
                        </div>
                    <% } %>
                    <% for (let iy=0; iy < seatsCount; iy++) { %>
                        <div class="seat_container ii__room_seat" id="seat_<%= ix %>_<%= iy %>">
                            <div class="seat_square"></div>
                        </div>
                    <% } %>
                </div>
                <div class="my-3">
                    <small>Αριθμός Θέσεων: &nbsp;<input class="seats_cnt_input ii__seats_count" type="number" value="<%= seatsCount %>"></small>
                </div>
            </div>
        <% } else { %>
            <div class="room_row_container ii__room_row_container" data-seats_count="0">
                <div class="room_row ii__room_row">
                    <div class="action_btn delete_btn delete_btn__row ii__delete_row_btn">
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                    <div class="empty_row"></div>
                </div>
            </div>
        <% } %>
    <% }) %>

    <div class="ii__add_rows_container">
        <div class="add_multi">
            Προσθήκη&nbsp;<input type="text" value="1">&nbsp;σειράς/ών
            <div class="action_btn add_btn ml-2 ii__add_rows_btn">
                <i class="fa-solid fa-circle-plus"></i>
            </div>
        </div>
        <div class="add_multi">
            Προσθήκη κενής σειράς
            <div class="action_btn add_btn ml-2 ii__add_empty_row_btn">
                <i class="fa-solid fa-circle-plus"></i>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-end">
    <button id="edit_room_btn" data-room_id="<%= room_id %>" class="btn btn-primary">ΑΠΟΘΗΚΕΥΣΗ</button>
</div>

<%- include('footer') %>
