<%- include('header', {title: 'Αρχική Σελίδα', is_index: true}) %>

<% if (data.loggedin) { %>
    <p>Welcome <%= data.username %>!</p>
    <form method="POST" action="/logout">
        <input type="submit" value="LOGOUT">
    </form>
    <%
        switch (data.role) {
            case 'student': %>
                <%- include('student_homepage', {data: data}); %>
                <%
                break;
            case 'secretary': %>
                <%- include('secretary_homepage', {data: data}); %>
                <%
                break;
            case 'professor': %>
                <%- include('professor_homepage', {data: data}); %>
                <%
                break;
            default:
                break;
        }
    %>
<% } else { %>
    <form method="POST" action="/login">
        <label for="username">username:</label>
        <input type="text" name="username" id="username">
        <br>
        <br>
        <label for="password">password:</label>
        <input type="password" name="password" id="password">
        <br>
        <input type="submit" value="SUBMIT">
    </form>
<% } %>

<%- include('footer') %>