<%- include('header', {title: title}) %>

<% if (data.loggedin) { %>
    <p>Welcome <%= data.username %>!</p>
    <form method="POST" action="/logout">
        <input type="submit" value="LOGOUT">
    </form>
    <% if (data.role == 'student' && data.active_courses) { %>
        <table class="table">
            <thead>
                <th>Μάθημα</th>
                <th>Εξάμηνο</th>
                <th>Διδάσκων/ουσα</th>
                <th>Αίθουσα</th>
                <th>Ώρες</th>
            </thead>
            <tbody>
                <% data.active_courses.forEach(course => { %>
                    <tr>
                        <td><%= course.name %></td>
                        <td><%= course.semester %></td>
                        <td><%= course.professor_name %></td>
                        <td><%= course.room_name %></td>
                        <td><%= `${course.time_from} - ${course.time_to}` %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    <% } %>
<% } else { %>
    <form method="POST" action="/login">
        <label for="username">username:</label>
        <input type="text" name="username" id="username">
        <br>
        <br>
        <label for="password">password:</label>
        <input type="password" name="password" id="password">
        <br>
        <input type="submit" value="SUBMIT">
    </form>
<% } %>

<%- include('footer') %>