<h5>Δήλωση Παρουσίας</h5>

<% if (data.active_courses.length) { %>
    <table class="table">
        <thead>
            <th>Μάθημα</th>
            <th>
                <span class="d-none d-sm-table-cell">Εξάμηνο</span>
                <span class="d-sm-none">Εξάμηνο Αίθουσα</span>
            </th>
            <th>
                <span class="d-none d-sm-table-cell">Διδάσκων/ουσα</span>
                <span class="d-sm-none">Διδασκ.</span>
            </th>
            <th class="d-none d-sm-table-cell">Αίθουσα</th>
            <th>Ώρες</th>
            <th class="d-none d-sm-table-cell"></th>
        </thead>
        <tbody>
            <% data.active_courses.forEach(course => { %>
                <tr>
                    <td>
                        <span><%= course.name %></span>
                    </td>
                    <td>
                        <span class="d-none d-sm-table-cell"><%= course.semester %>ο</span>
                        <span class="d-sm-none">
                            <%= course.semester %>ο
                            <br>
                            <%= course.room_name %>
                        </span>
                    </td>
                    <td><%= course.professor_name %></td>
                    <td class="d-none d-sm-table-cell"><%= course.room_name %></td>
                    <td><%= `${course.time_from} - ${course.time_to}` %></td>
                    <td class="d-none d-sm-table-cell">
                        <% if (course.attendances_finalized) { %>
                            <small>Το παρουσιολόγιο έχει οριστικοποιηθεί.</small>
                        <% } else { %>
                            <a class="btn btn-primary" href="/declare_attendance?cid=<%= course.id %>">
                                Δήλωση Παρουσίας
                            </a>
                        <% } %>
                    </td>
                </tr>
                <tr class="d-sm-none">
                    <td colspan="4">
                        <% if (course.attendances_finalized) { %>
                            <br>
                            <small >Το παρουσιολόγιο έχει οριστικοποιηθεί.</small>
                        <% } else { %>
                            <a class="btn btn-primary btn-sm w-100" href="/declare_attendance?cid=<%= course.id %>">
                                Δήλωση Παρουσίας
                            </a>
                        <% } %>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
<% } else { %>
    <p>Δεν υπάρχουν ανοιχτά μαθήματα για δήλωση παρουσίας.</p>
<% } %>

<h5>Παρουσίες</h5>
<% if (data.past_attendance_records.length) { %>
    <table class="table">
        <thead>
            <th>Μάθημα</th>
            <th>Αίθουσα</th>
            <th>Ημερομηνία, Ώρα</th>
            <th>Θέση</th>
            <th class="d-none d-sm-table-cell"></th>
        </thead>
        <tbody>
            <% data.past_attendance_records.forEach(attendance_record => { %>
                <tr>
                    <td><%= attendance_record.course_name %></td>
                    <td><%= attendance_record.room_name %></td>
                    <td>
                        <%= attendance_record.datetime_str %>
                        <% if (attendance_record.current) { %>
                            <a class="btn btn-primary btn-sm d-sm-none mt-2" href="/declare_attendance?cid=<%= attendance_record.course_id %>">
                                Προβολή
                            </a>
                        <% } %>
                    </td>
                    <td>
                        <span class="d-none d-sm-table-cell"><%= attendance_record.seat_desc %></span>
                        <span class="d-sm-none"><%= attendance_record.seat_desc_short %></span>
                    </td>
                    <td class="d-none d-sm-table-cell">
                        <% if (attendance_record.current) { %>
                            <a class="btn btn-primary" href="/declare_attendance?cid=<%= attendance_record.course_id %>">
                                Προβολή
                            </a>
                        <% } %>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
<% } else { %>
    <p>Δεν βρέθηκαν παλαιότερες παρουσίες.</p>
<% } %>
