<%- include('header', {title: 'Μαθήματα'}) %>

<% if (courses.length) { %>
    <div class="d-flex justify-content-end mb-3">
        <button class="btn btn-danger d-none d-sm-inline-block" id="delete_all_courses_btn">ΔΙΑΓΡΑΦΗ ΟΛΩΝ</button>
        <button class="btn btn-danger btn-sm d-sm-none" id="delete_all_courses_btn">ΔΙΑΓΡΑΦΗ ΟΛΩΝ</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <span class="d-none d-sm-inline">Όνομα</span>
                    <span class="d-sm-none">Όνομα<br>Ακαδ. Έτος</span>
                </th>
                <th>
                    <span class="d-none d-sm-inline">Διδάσκων/ουσα</span>
                    <span class="d-sm-none">Διδασκ.</span>
                </th>
                <th>
                    <span class="d-none d-sm-inline">Εξάμηνο</span>
                    <span class="d-sm-none">Εξάμηνο Αίθουσα</span>
                </th>
                <th class="d-none d-sm-table-cell">Αίθουσα</th>
                <th class="d-none d-sm-table-cell">Ακαδημαϊκό Έτος</th>
                <th class="d-none d-sm-table-cell">Παρουσιολόγια</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% courses.forEach(course => { %>
                <tr>
                    <td>
                        <span class="d-none d-sm-inline"><%= course.name %></span>
                        <span class="d-sm-none">
                            <%= course.name %>
                            <br>
                            <%= course.year_season %>
                        </span>
                    </td>
                    <td><%= course.professor_ldap_id %><%= (course.professor_name ? ` (${course.professor_name})` : '') %></td>
                    <td>
                        <span class="d-none d-sm-inline"><%= course.semester %>ο</span>
                        <span class="d-sm-none">
                            <%= course.semester %>ο
                            <br>
                            <%= course.room_name %>
                        </span>
                    </td>
                    <td class="d-none d-sm-table-cell"><%= course.room_name %></td>
                    <td class="d-none d-sm-table-cell"><%= course.year_season %></td>
                    <td class="d-none d-sm-table-cell">
                        <a class="btn btn-primary" href="/attendance_registries?cid=<%= course.id %>">ΠΡΟΒΟΛΗ</a>
                    </td>
                    <td>
                        <div class="action_btn delete_btn ii__delete_course_btn"
                            data-cid="<%= course.id %>" data-course_name="<%= course.name %>">
                            <i class="fa-solid fa-xmark"></i>
                        </div>
                    </td>
                </tr>
                <tr class="d-sm-none">
                    <td colspan="6">
                        <a class="btn btn-primary btn-sm w-100" href="/attendance_registries?cid=<%= course.id %>">ΠΡΟΒΟΛΗ</a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
<% } %>

<% if (rooms.length) { %>
    <form method="POST" class="form d-none d-sm-block">
        <table class="table">
            <thead>
                <th>Όνομα</th>
                <th>Διδάσκων (LDAP ID)</th>
                <th>Αίθουσα</th>
                <th>Εξάμηνο</th>
                <th>Ακαδημαϊκό Έτος</th>
                <th></th>
            </thead>

            <tbody>
                <tr>
                    <td><input type="text" name="course_name" class="form-control" required></td>
                    <td><input type="text" name="professor_ldap_id" class="form-control" required></td>
                    <td>
                        <select name="room_id" class="form-control" required>
                            <% rooms.forEach(room => { %>
                                <option value="<%= room.id %>"><%= room.name %></option>
                            <% }) %>
                        </select>
                    </td>
                    <td><input type="text" name="semester" class="form-control" required></td>
                    <td><input type="text" name="year_season" class="form-control" required></td>
                    <td><input type="submit" class="btn btn-primary form-control" value="ΝΕΟ ΜΑΘΗΜΑ"></td>
                </tr>
            </tbody>
        </table>
    </form>

    <form method="POST" class="form d-sm-none">
        <div class="form-group">
            <label for="course_name">Όνομα</label>
            <input type="text" name="course_name" id="course_name" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="professor_ldap_id">Διδάσκων (LDAP ID)</label>
            <input type="text" name="professor_ldap_id" id="professor_ldap_id" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="room_id">Αίθουσα</label>
            <select name="room_id" class="form-control" required>
                <% rooms.forEach(room => { %>
                    <option value="<%= room.id %>"><%= room.name %></option>
                <% }) %>
            </select>
        </div>
        <div class="form-group">
            <label for="semester">Εξάμηνο</label>
            <input type="text" name="semester" id="semester" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="year_season">Ακαδημαϊκό Έτος</label>
            <input type="text" name="year_season" id="year_season" class="form-control" required>
        </div>
        <input type="submit" class="btn btn-primary btn-sm form-control" value="ΝΕΟ ΜΑΘΗΜΑ">
    </form>

    <hr class="w-50">
    <h5>Ενημέρωση μαθημάτων</h5>
    <form action="/upload_courses" method="POST" enctype="multipart/form-data" class="form">
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="courses" name="courses">
            <label class="custom-file-label" for="courses">Αρχείο .xlsx</label>
        </div>
        <br>
        <input type="submit" class="btn btn-primary mt-2 mt-sm-0" value="ΑΠΟΣΤΟΛΗ">
    </form>
<% } else { %>
    <span>Πρέπει να δημιουργηθεί τουλάχιστον μία αίθουσα για να γίνει εισαγωγή μαθημάτων</span>
<% } %>

<%- include('footer') %>
