<%- include('header', {title: 'Παρουσίες Μαθήματος'}) %>

<h4>Παρουσίες Μαθήματος</h4>
<span>Μάθημα: <%= attendance_registry_record.course_name %></span>
<br>
<span>Ημερομηνία: <%= attendance_registry_record.date_str %></span>
<br>
<span>Αίθουσα: <%= attendance_registry_record.room_name %></span>
<br>

<% if (attendance_records.length) { %>
    <table class="table mt-3 ii__datatable" data-page-length="10">
        <thead>
            <th>Φοιτητής</th>
            <th>Ημερομηνία - Ώρα</th>
            <th>Θέση</th>
            <th></th>
        </thead>
        <tbody>
            <% attendance_records.forEach(attRec => {
                let seatParts = attRec.seat_index.split('_');
                let studentDesc = `${attRec.student_name ?? ''} ${attRec.student_ldap_id}`;
            %>
                <tr>
                    <td><%= studentDesc %></td>
                    <td><%= attRec.datetime_str %></td>
                    <td>
                        <span class="d-none d-sm-inline"><%= attRec.seat_desc %></span>
                        <span class="d-sm-none"><%= attRec.seat_desc_short %></span>
                    </td>
                    <td>
                        <% if (!attendance_registry_record.finalized || user_role == 'secretary') { %>
                            <div class="action_btn delete_btn ii__delete_attendance"
                                data-student_name="<%= studentDesc %>"
                                data-datetime="<%= attRec.datetime_str %>"
                                data-seat_desc="<%= attRec.seat_desc %>"
                                data-aid="<%= attRec.id %>"
                            >
                                <i class="fa-solid fa-xmark"></i>
                            </div>
                        <% } %>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>

    <% if (!attendance_registry_record.finalized) {
        if (attendance_registry_record.open) { %>
            <button class="btn btn-primary btn-sm ii__toggle_ar_open_btn" id="close_ar_btn"
                data-arid="<%= attendance_registry_record.id %>"
            >
                ΚΛΕΙΔΩΜΑ ΠΑΡΟΥΣΙΩΝ
            </button>
        <% } %>
        <button id="finalize_attendance_btn" class="btn btn-primary btn-sm" <%= (attendance_registry_record.open ? ' disabled' : '') %>
            data-arid="<%= attendance_registry_record.id %>">
            ΟΡΙΣΤΙΚΟΠΟΙΗΣΗ
        </button>
    <% } else if (user_role == 'secretary') { %>
        <small>Το παρουσιολόγιο είναι οριστικοποιημένο.</small>
        <br>
        <small>Για να επιτρέψετε την επεξεργασία του παρουσιολογίου απ' τον καθηγητή πατήστε:</small>
        <br>
        <button id="unfinalize_attendance_btn" class="btn btn-primary mt-2"
            data-arid="<%= attendance_registry_record.id %>">
            ΕΠΑΝΑΦΟΡΑ
        </button>
    <% } %>

<% } else { %>
    <br>
    <span>Δεν υπάρχουν παρουσίες στο συγκεκριμένο παρουσιολόγιο.</span>
<% } %>


<%- include('footer') %>
